*{
    margin: 0;
    padding: 0;
    box-sizing:border-box;
}

body{
    background: linear-gradient(90deg, #00C9FF 0%, #92FE9D 100%);
}

.pages{
    text-align: center;
    height: 100vh;
}
h1{
    margin: 10px auto;
}
@media screen and (min-height: 600px){
    .pages{
        height: auto;
    }
}